    h1 {
text-align: center;   
color: red;
font-style: initial;
    }
h2 {
    text-align: center;
    color: blue;
    font-style: initial;
}
p {
    text-align: center;
    font-style: inherit;
}

.capi1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.capi2 {
    display: block;
    margin-left: 0%;
}